.wrapper{
    border: 5px green solid;
    background-color: white;
    margin: 0 10%;
}

.header{
    border: 5px red solid;
    text-align: right;
}

.header .header-details{
    border: 5px orange solid;
}

.main .article{
    border: 5px blue solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
}

.main .article .article-header .date{
    border: 5px purple solid;
}

body{
    background-image: url("images/bush.png");
    background-repeat: repeat;
}

.main .article .article-body{
    display: flex;
}

.main .article .article-body .article-image{
    order: 2;
}